{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
<h3>Edit User</h3>

    {{ form_errors(usereditForm) }}

    {{ form_start(usereditForm) }}
        {{ form_row(usereditForm.email,
            {'attr': {'readonly': 'readonly'}}
        ) }}
        {{ form_row(usereditForm.plainPassword, {
            label: 'Password'
        }) }}

        <button type="submit" class="btn">Save</button>
    {{ form_end(usereditForm) }}
    
{% endblock %}
