{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h3>Please register</h3>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <table><tr><td>
        <img id="photo" src="{{ asset('png/no_image_available.png') }}" width="80px" height="80px" />
        {{ form_row(registrationForm.picture, {
            label: 'Picture'
        }) }}
        </td></tr></table>

        <div>
        <button type="submit" class="btn">Register</button>
        </div>
    {{ form_end(registrationForm) }}

<script>
    const fileInput = document.getElementById('registration_form_picture');
    const previewImage = document.getElementById('photo');

    fileInput.addEventListener('change', function(e) {
        if (e.target.files && e.target.files[0]) {
            // Create a temporary URL
            const imageUrl = URL.createObjectURL(e.target.files[0]);
            previewImage.src = imageUrl;
            
            // Revoke the URL to free up memory after the image loads
            previewImage.onload = () => URL.revokeObjectURL(imageUrl);
        }
    });
</script>
{% endblock %}
